.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-family: Inter;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1152px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 896px) {
    .lead__caption {
       margin-left: 24px;
    }
}

@media screen and (max-width: 680px) {
    .lead__caption {
        margin-left: 18px;
    }
}