.intro__title {
    margin: 92px 0 40px;
    font-size: 54px;
    font-weight: 900;
    font-family: Inter;
    line-height: 58px;
}

@media screen and (max-width: 1152px) {
    .intro__title {
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 896px) {
    .intro__title {
        margin-top: 88px;
        margin-right: 24px;
        margin-left: 24px;
    }
}


@media screen and (max-width: 680px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
}